
    div {
        border-style: solid;
        height: 100px;
    }
    .div1{
        background-color: blueviolet;
        position: sticky;
        top: 100px;
        left: 0.1px;
        width: 100%;
    }
